@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

*{
    /* box-sizing: border-box; */ 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --pistache: #99E2D0;
    --green-color: #008766;
    --cyan: #89C8FA;
    --navy-blue: #003A68;
    --mauve : #9356DC;
    --lavande: #F5EDFF;
    --gris1 : #353535;
    --gris2 : #EAEAEA;
    --gris3 : #F6F6F6;
    --gris4 : #7E7E7E;
}

body{
    margin: 0 auto;
    position: relative;
}

a{
    text-decoration: none;
    color: black;
}


/**************************************************  LOADER  ************************************/

.loader{
    position: fixed;
    background: white;
    opacity:75%;
    z-index: 999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: opacity 1s ease-in-out; */
    animation: hidden 3s ease-in-out both;
}
.loader-point{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--mauve);
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
}
.p2{
    animation-delay: 0.05s;
}
.p3{
    animation-delay: 0.1s;
}


@keyframes loader{
    100% {
        transform: translateY(-30px);
    }
    
}

@keyframes hidden{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}

/**************************************************  HEADER  ************************************/


nav{
    background: white;
    padding: 3% 0 1.5% 0;
    text-align: center;
    
}

nav .logo{
    width: 160px;
    object-fit: cover;
    padding: 2% 0%;
}


/**************************************************  HERO SECTION  ************************************/



.one{
    width: 100%;
    background: var(--gris3);
}
.one .location{
    background: var(--gris2);
    padding: 20px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset;
}
.one .location p{
    text-align: center;
    color: var(--gris1);
    font-size: 16PX;
    font-weight: 600;
}
.one .location p span{
    padding: 0 8px;
}
.fa-location-dot{
    color: var(--gris1);
}


.one .hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10%;
}
.one .hero h1{
    font-size: 24px;
    max-width: 275px;
    font-weight: 700;
    margin: 0 auto;
}
.one .hero p{
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0;
    margin-bottom: 15px;
}
.one .hero a{
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(200.64deg, #FF79DA -5.2%, var(--mauve) 110.74%);
    padding: 5%;
    width: 60%;
    margin: 0 auto;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
}
.one .hero a:hover{
    background: linear-gradient(200.64deg, #ff79d9cd -5.2%, var(--mauve) 110.74%);
}



/**************************************************  FONCTIONNEMENT  ************************************/

.two .fonctionnement{
    width: 90%;
    margin: 0 auto;
    padding: 10% 0;
}
.two .fonctionnement .etapes ul{
    list-style: none;
    padding: 2% 0%;
}
.two .fonctionnement .etapes ul li{
    padding: 5%;
    background: var(--gris3);
    margin: 6% 3%;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.two .fonctionnement .etapes ul li:hover{
    background: var(--lavande);
}
.two .fonctionnement .etapes ul li:hover > .fa-solid{
    color: var(--mauve);
}


.two .fonctionnement .etapes ul li i{
    color: var(--gris4);
    padding: 1% 4%;
    font-size: 18px;
}
.two .fonctionnement .etapes ul li span{
    padding: 1%;
    font-size: 14px;
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    background: var(--mauve);
    border-radius: 50%;
    position: absolute;
    left: -3%;
}


/**************************************************  RESTAUS  ************************************/

.three{
    background: var(--gris3);
    width: 100%;
}

.three .restaurants{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}
.three .restaurants h2{
    font-size: 24px;
    font-weight: 700;
}
.three .restaurants .card{
    width: 100%;
    height: 275px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 6% 0;
    position: relative;
}
.three .restaurants .card img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    
}

.three .restaurants .card .content{
    display: flex;
    margin: 3% 4%;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    position: relative;
}
/* .three .restaurants .card .fa-regular{
    font-size: 25px;
    
} */

.three .restaurants .card .content::before{
    position: absolute;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    top: 8px;
    right: 5px;
    font-family: "Font Awesome\ 5 Free";
    /* font-weight: 900; */
    content: "\f004";
    color: inherit;
    opacity: 1;
    
}
.three .restaurants .card .content::after{
    position: absolute;
    font-size: 24px;
    top: 8px;
    right: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    color: transparent;
    opacity: 0;
    background: radial-gradient(circle, #9356dc 0%, #ff79da 100%);
    background-clip: text;
    -webkit-background-clip: text;
}
.three .restaurants .card .content:hover::after{

    opacity: 1;
    transition: all 0.5s;
}




.three .restaurants .card .label-nouveau{
    position: absolute;
    top: 5%;
    right: 3%;
    color: #008766;
    background: #99E2D0;
    padding: 2%;
    border-radius: 2px;
    font-weight: 500;
}



/**************************************************  FOOTER  ************************************/

footer{
    background: var(--gris1);
    color: white;
    padding-bottom: 8%;
}
footer h3{
    font-family: 'Shrikhand';
    letter-spacing: 0.5px;
    font-size: 18px;
    padding: 5% 7%;
}
footer .foot-content{
    padding: 0 7%;
    display: flex;
    flex-direction: column;
}
footer .foot-content a{
    margin: 1% 0;
    font-size: 16px;
    color: white;
}















/****************************************************************************************************** RESPONSIVE ************/


@media screen and (min-width: 720px){
  
    body{
      max-width:100%;
    }

    nav{
        padding: 0;
    }
    nav .logo{
        width: 200px;
    }

    .one .hero{
        padding: 40px;
    }

    .one .hero h1{
        max-width: 100%;
        font-size: 40px;
    }

    .one .hero a{
        width: 15%;
        padding: 15px 5px;
    }

    .two .fonctionnement{
        padding: 45px 0;
    }

    .two .fonctionnement .etapes ul{
        display: flex;
        width: 100%;
    }
    .two .fonctionnement .etapes ul li{
        padding: 15px;
        margin:2%;
    }
    
    .grid-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 0 80px; 
    }

    .restaurants .grid-wrap .card{
        width: 95%;
    }


    footer{
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        padding-bottom: 0;
        padding-top: 30px;
    }

    footer h3{
        padding: 2% 4%;

    }
    footer .foot-content{
        flex-direction: row;
        padding: 0;
    }

    footer .foot-content a{
        padding: 0 8px;
    }
  }